body {
    margin: 0;
     font-family: 'Raleway', serif;
        font-size: 24px;
        background-color:  #ccffff
}

.spacer {
    height: 30px;
}


.clickable:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #66ffb3
}
img {
    width: 800px;
}